<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>To-Do</string>
	<key>CFBundleExecutable</key>
	<string>To-Do</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.todocat.app</string>
	<key>CFBundleName</key>
	<string>To-Do</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSUIElement</key>
	<false/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>오늘 일정을 투두 패널에 표시하기 위해 캘린더를 읽습니다.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>오늘 일정을 투두 패널에 표시하기 위해 캘린더를 읽습니다.</string>
</dict>
</plist>
